body {
    font-family: 'Inter', sans-serif;
}

.progress-bar {
    background-color: #00aef9;
}

.progress-bar-inner {
    background-color: #2c25eb;
    height: 100%;
    transition: width 0.5s ease-in-out;
}

